<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Input</title>
    <style>
        .form{
            position: absolute;
            top: 30%;
            left: 20%;
        }
    </style>
</head>
<body>
    <div class="form">
        <form method='POST' action='http://localhost:8080/get-stock-data'>
            <label style="font-size: 20px;">Input Date</label>
            <input type="date" name="date" id="dt" required style="margin-left: 20px;">
            <br>
            <input type="submit" value="submit"> 
        </form>
    </div> 
</body>
</html>